html {
    scroll-behavior: smooth;
}

.indice {
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 3rem;
        font-size: large;
    }

    margin-top: 40px;
}

.form-sudaderas,
.form-usuarios,
.div-botones {
    text-align: center;
}

.div-botones {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

table {
    margin: auto;
}

th {
    padding: 40px;
}

td {
    padding: 15px;
}

h2 {
    margin-top: 50px;
}