html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

.indice {
    margin-top: 40px;
    position: sticky;
    top: 50px;
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 10px;
}

.indice a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3rem;
    font-size: large;
}

.form-sudaderas,
.form-usuarios,
.div-botones {
    text-align: center;
}

.div-botones {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: antiquewhite;
    padding-top: 10px;
}

button {
    width: 170px;
    height: 50px;
}

table {
    margin: auto;
}

th {
    padding: 40px;
}

td {
    padding: 15px;
}

h2 {
    margin-top: 50px;
}