body {
    text-align: center;
    background-color: antiquewhite;
}

.div-productos {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}

.div-productos div {
    flex-basis: calc(25% - 20px);
    background-color: #f8f8f8;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 35px;
}

.div-productos h2, .div-productos h3 {
    margin: 0 0 10px 0;
}

.titulo-carrito {
    margin-top: 2%;
    margin-bottom: -40px;
}

.div-productos p {
    margin-top: 2%;
    grid-column: 1 /-1;
    text-align: center;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(80, 22, 22);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

button span::before,
button span::before,
button span::before {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -9px;
    transition: 0.5s;
}

button span::after,
button span::after,
button span::after {
    content: '';
}

button:hover span,
button:hover span,
button:hover span {
    padding-left: 23px;
}

button:hover span::before,
button:hover span::before,
button:hover span::before {
    opacity: 1;
    left: 0;
}